body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#graphCanvas {
  height: 100%;
  width: 100%;
}

#saveLoad {
  margin: 1rem;
}

#saveLoad button {
  margin: 5px;
}

#isCSC1026 {
  text-align: right;
}

.header {
  display: inline-flex;
  width: 100%;
}

.title {
  text-align: center;
  width: 100%;
}

.go2441762052 {
  display: none;
}

svg {
  border-radius: 10px;
}

button {
  border: #2f4f4f solid 2px;
  border-radius: 10px;
  background-color: transparent;
}

button:hover {
  background-color: lightgray;
}

input, select {
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
}

label {
  font-size: 14px;
}

.formInput {
  margin: 5px;
}

/*.freeButton:hover {*/
/*  background-color: darkgrey;*/
/*}*/
